/venv/
/fake_news_env/
*.pyc
__pycache__/

*.egg-info/
build/
dist/

.ipynb_checkpoints
.vscode/

/results/
/results_new/
/results_fakenewsnet/
/logs/
/logs_new/
/logs_fakenewsnet/

*.pt
*.bin
*.pth
*.h5
